/* Game board */

@font-face {
    font-family: funny_witches;
    src: url('/assets/fonts/witches_magic.ttf') format('truetype');
}

* {
    font-family: 'funny_witches', sans-serif;
}

body main {
    overflow-x: hidden;
    touch-action: none;
    background-image: url('../images/background_720.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}


/* Navigation menu */

.dropdown-menu{
    background: url(../images/general/frame_stats.png) no-repeat center center;
    background-size: fit;
    border: none;
    --bs-dropdown-bg: none;
}

.dropdown-item a {
    text-decoration: none;
    color: #000000;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: transparent;
}

.dropdown-item a:hover {
    color: #ffffff;
    text-decoration: none;
}

/* ./navigation */

/* Toast */
.toast {
    background: rgb(49,38,62);
    background: linear-gradient(0deg, rgba(116, 13, 121, 0.863) 0%, rgba(198, 147, 35, 0.877) 100%);
    color: #ffffff;
}


/* Character CARDS */
.card-title {
    color: #eca72c;
}

/* Stats */
.card-body {
    width: 100%;
    max-width: 170px;
}

.player-stats-section,
.villain-stats-section {
    background: url('../images/general/frame_stats.png') no-repeat center center;
    background-size: cover;
    width: 100%;
}

.progress {
    --bs-progress-bg: transparent;
    --bs-progress-height: 0.8rem;
    --bs-progress-font-size: 0.55rem;
    border: 0.5px solid rgba(137, 133, 133, 0.311);
}

.progress-bar {
    border-radius: 10px;
}

/* Character images */
.card-img-bottom {
    max-width: 100%;
    max-height: 30vh;
    object-fit: cover;
}

.player:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s;
}

.player img, .villain img {
    filter: drop-shadow(0px 0px 10px rgba(215, 149, 8, 0.687));
}

.character-hover {
    filter: drop-shadow(0px 0px 10px rgba(230, 158, 5, 0.737)) brightness(1.2) !important;
    transition: filter 0.3s;
}

/* ./character cards */


/* Potions Inventory */
#inventory-potions-container {
    --bs-gutter-x: 0;
    min-height: 5rem;
    background: url('../images/general/frame_inventory.png') no-repeat center 0;
    background-size: cover;
    bottom: 0;
}

.potion-img {
    width: 100%;
    height: auto;
    display: block;
}

.grabbable,
.potion-img:hover {
    cursor: grab;
}

.grabbing {
    cursor: grabbing;
}

.potion-img {
    width: 2.5rem;
}

.potion {
    margin: 10px 3vw;
}

.potion-hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s;
}