/* Game board */

@font-face {
    font-family: funny_witches;
    src: url('/assets/fonts/witches_magic.ttf') format('truetype');
}

* {
    font-family: 'funny_witches', sans-serif;
}

body main {
    overflow-x: hidden;
    touch-action: none;
    background-image: url('../images/background_720.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}


/* Navigation menu */

.menu {
    background: url(../images/general/frame_stats.png) no-repeat center center !important;
    font-weight: 100;
    background: #efefef;
    width: 35%;
    border-radius: 50px;
    height: 140px;
    z-index: 100;
    -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    top: -130px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    color: #222;
}

@media (min-width: 1200px) {
    .menu {
        width: 25%;
    }
}
@media (min-width: 2000px) {
    .menu {
        width: 20%;
    }
}

.menu.show {
    top: -100px;
    transition: all 0.3s ease-in-out;
}

.menu.show button i {
    transform: rotate(180deg);
}

@media (max-width: 576px) {
    .menu .nav {
        margin-bottom: 15px !important;
    }
    .menu .nav li {
        margin-bottom: 5px;
    }

    .menu.show {
        top: -60px;
    }
}

.menu button {
    background: url(../images/general/frame_stats.png) no-repeat center center !important;
    background-color: transparent;
    position: absolute;
    border: none;
    border-radius: 50%;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.menu .nav {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    font-weight: 100;
}

.menu .nav li a {
    text-decoration: none;
    color: #000000;
    list-style-type: none;
}

.menu .nav li a:hover {
    color: #ffffff;
}

/* ./navigation */

/* Toast */
.toast {
    background: rgb(49,38,62);
    background: linear-gradient(0deg, rgba(116, 13, 121, 0.863) 0%, rgba(198, 147, 35, 0.877) 100%);
    color: #ffffff;
}


/* Character CARDS */
.card-title {
    color: #eca72c;
}

/* Stats */
.card-body {
    width: 100%;
    max-width: 210px;
}

.player-stats-section {
    background: url('../images/general/frame_stats.png') no-repeat center center;
    background-size: cover;
    width: 100%;
}

.villain-stats-section {
    background: url('../images/general/frame_stats_flip.png') no-repeat center center;
    background-size: cover;
    width: 100%;
}

.progress {
    --bs-progress-bg: transparent;
    --bs-progress-height: 0.8rem;
    --bs-progress-font-size: 0.55rem;
    border: 0.5px solid rgba(137, 133, 133, 0.311);
}

.progress-bar {
    border-radius: 10px;
}

/* Character images */
.card-img-bottom {
    max-width: 100%;
    max-height: 40vh;
    object-fit: cover;
}

.player:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s;
}

.player img, .villain img {
    filter: drop-shadow(0px 0px 10px rgba(215, 149, 8, 0.687));
}

.character-hover {
    filter: drop-shadow(0px 0px 10px rgba(230, 158, 5, 0.737)) brightness(1.2) !important;
    transition: filter 0.3s;
}

/* ./character cards */


/* Potions Inventory */
#inventory-potions-container {
    --bs-gutter-x: 0;
    min-height: 5rem;
    bottom: 0;
}

#inventory-potions {
    background: url('../images/general/frame_inventory.png') no-repeat center 0;
    background-size: cover;
}

.potion-img {
    width: 100%;
    height: auto;
    display: block;
}

.grabbable,
.potion-img:hover {
    cursor: grab;
}

.grabbing {
    cursor: grabbing;
}

.potion-img {
    width: 2.5rem;
}

.potion {
    margin: 10px 3vw;
}

.potion-hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s;
}